.contact-section {
    margin: 5px 0px;
    padding: 5px 0px;
}

.contact-icons {
    color: $main-color;
    float: left;
}

#terminvereinbarung {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}