.training-section h1 {
	color: #262626;
	font-family: "Enriqueta", serif;
	font-size: 44px;
	line-height: 48px;
	margin: 0 0 30px;
}

.training-section h2 {
	color: #262626;
	font-family: "Enriqueta", serif;
	font-size: 32px;
	font-weight: normal;
	line-height: 42px;
	margin: 0 0 24px;
	padding: 12px 0 0;
}

.training-section h3 {
	color: #c73036;
	font-family: "Enriqueta", serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	margin: 0 0 24px;
	padding: 12px 0 0;
	text-transform: uppercase;
}

.training-section p {
	color: #2f2f2f;
	font-family: Georgia, serif;
	font-size: 17px;
	line-height: 24px;
	margin: 0 0 24px;
}

.training-section img {
    margin-top: 5px;
    margin-bottom: 10px;
}